@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Onehunga<br />
    Auckland, NZ<br />
    <abbr title="Mobile">M:</abbr>
    02108704014
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jcimafranca@gmail.com">Jcimafranca@gmail.com</a>
</address>