<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="TaxSettingsFile" value="TaxSettings.json"/>
      <add key="TaxSettingsFolder" value="JSON"/>
      
      <add key="JsonNotFoundMsg" value="Sorry! something went wrong, the TaxSettings.json file cannot be found."/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
